<footer class="footer-area">
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="footer-widget widget-text">
								<div class="footer-logo">
									<h2><a href="#">Django个人博客系统</a></h2>
								</div>
								<div class="widget-content">




								</div>
							</div>
						</div>

                        <div class="col-md-3">
							<div class="footer-widget widget-Subscribe">
								<div class="widget-title">

								</div>
								<div class="widget-Subscribe-form">
									<form action="#">
										<div class="from-grupe">

										</div>
									</form>
								</div>
								<div class="widget-content">
									<img src="">
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="footer-widget widget-nave">
								<div class="widget-title">
									<h3>友情链接</h3>
								</div>
								<div class="widget-nave-list">
									<ul>
										<li><a href="" target="_blank">bhml</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="copyright-area">
								<p>Copyright &copy; 2025.技术支持:django & layui. Create By pjz</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="footer-right text-right">
								<p>联系制作者：pjz</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
