 <header class="header-area header-one" id="sticky">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-xs-6">
						<div class="log-area">
{#							<a href="index.html"><img src="/static/frontEnd/assets/images/logo.png" alt=""></a>#}
                            <a href="/MyArticle/"><span style="font-size: 2.5em;">Django个人博客系统</span></a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="menu-area">
							<nav>
								<ul>
									<li><a style="font-size: 20px;" href="/MyArticle/">首页</a></li>
                                    <li><a style="font-size: 20px;" href="/login">管理员登录</a></li>
								</ul>
							</nav>
						</div>
					</div>
					<div class="col-md-1 col-xs-6">
						<div class="humbargar-area">
							<div class="menu-icon text-right">
								<span class="flaticon-menu humbargar"></span>
							</div>
							<div class="close-area">
								<span class="close"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>